body {
  background-color: #90A4AE;
  padding: 0px;
  margin: 0;
}
h1, p, ul, li {
  font-family: sans-serif;
}
h2{
  font-size: 30px;
}
.content {
  background-color: #FFF;
  margin: 10px;
  padding: 40px;
  border-radius: 20px;
}
.content h2 {
  padding: 10px;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.toolbar{
  color: #FAFAFA;
}
.cardSize img{
  width: 300px;
  height: 300px;
  margin:10px auto;
	display:block;
}
Button{
  float: right;
}
.brand{
  font-size: 2000px;
}

.colSide{
  background-color: #FFF;
  padding: 50px;
}
.xenter{
  text-align: center;
}
